server:
  port: 8081

spring:
  application:
    name: reservation-auth
  docker-compose:
    enabled: true
  security:
    oauth2:
      authorization-server:
        issuer-uri: http://localhost:8081
  datasource:
    url: jdbc:postgresql://localhost:5433/reservation_auth
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: public

logging:
  level:
    liquibase: info
    org.hibernate.SQL: debug
    org.springframework.security: DEBUG